/extension/
/upload/
/node_modules/
/packages/
/obj/
/bin/Release/
/bin/Debug/
/bin/*.xml
/mono-debug-*/
*.zip
*.exe
*.exe.mdb
mono-debug.userprefs
npm-debug.log
.vs/mono-debug/v15/.suo
.vs/config/
storage.ide
v15/
*.vsix
